<div class="contact-container container-block">
  
  <div class="profile-container">
    {% if site.data.data.sidebar.name %}
      <h1 class="name">{{ site.data.data.sidebar.name }}</h1>
    {% endif %}

    {% if site.data.data.sidebar.tagline %}
      <h3 class="tagline">{{ site.data.data.sidebar.tagline }}</h3>
    {% endif %}
  </div>

  <ul class="list-unstyled contact-list">
    {% if site.data.data.sidebar.email %}
      <li class="email"><i class="fas fa-envelope"></i><span class="contact-text">{{ site.data.data.sidebar.email }}</span></li>
    {% endif %}
    {% if site.data.data.sidebar.phone %}
      <li class="phone"><i class="fas fa-phone"></i><span class="contact-text">{{ site.data.data.sidebar.phone }}</span></li>
    {% endif %}
  </ul>
</div><!--//contact-container-->
