@media print {
   @page {
     size: A4;
   }
 
   body {
     font-size: 12pt;
   }
 
   img.avatar {
     filter: grayscale(1);
     -webkit-filter: grayscale(1);
   }

   .contact-container .name {
      font-size: 2em; /* Adjust size as needed */
    }

   .section {
      margin-bottom: 40px;
  }
 
    .contact-container .contact-list li {
      margin-top: 20px; !important;
      margin-bottom: 60px; !important;
    }
 
   .wrapper {
     display: block; 
   }
 
   .main-wrapper {
     width: 100%;  /* full width */
     position: relative;  /* added */
   }

   .sidebar-wrapper {
      display: none;  /* added */
    }
 
   .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
