@media print {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
    .wrapper {
      display: flex;
    }
   .main-wrapper {
       flex: 1;
       padding-right: 1em;  /* Optional. Adds some space between the main content and the sidebar */
   }
   .sidebar-wrapper {
       flex: 1;
   }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
